{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-4">

    <style>
        ul.detalles-trainer {
            list-style-position: inside;
            padding: 0;
            text-align: center;
        }
        ul.detalles-trainer li {
            margin-bottom: 0px;
        }
    </style>

    <div class="container">
        <p>Has elegido el entrenador: 
            <strong>{{ trainer.first_name }} {{ trainer.last_name }}</strong>
        </p>

        <h3>Detalles del Entrenador</h3>

        <ul class="detalles-trainer">
            <li>Nombre: {{ trainer.first_name }} {{ trainer.last_name }}</li>
            <li>Fecha de nacimiento: {{ trainer.birthdate }}</li>
            <li>Nivel: {{ trainer.level }}</li>
        </ul>
    </div>

</div>
{% endblock %}
