{% extends 'base.html' %}

{% block content %}
  <p class="p-2 text-center">Bienvenido a tu Pokedex personal</p>

  <h3>Pokemons</h3>
  {% if user.is_authenticated %}
    <a href="{% url 'pokedex:add_pokemon' %}" class="btn btn-success mb-3">Agregar Pokémon</a>
  {% endif %}

  <div class="row">
    {% for pokemon in pokemons %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}" />
          <div class="card-body text-center">
            <h5 class="card-title">{{ pokemon.name|capfirst }}</h5>
            <a href="{% url 'pokedex:pokemon' pokemon.id %}" class="btn btn-info btn-sm"><i class="fa-regular fa-eye"></i></a>
            {% if user.is_authenticated %}
              <a href="{% url 'pokedex:edit_pokemon' pokemon.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pencil"></i></a>
              <a href="{% url 'pokedex:delete_pokemon' pokemon.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-muted">No hay pokemons registrados.</p>
    {% endfor %}
  </div>
  <h3>Entrenadores</h3>
  <ul class="list-group">
    {% for trainer in trainers %}
      <li class="list-group-item">
        <a href="{% url 'pokedex:trainer' trainer.id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
      </li>
    {% empty %}
      <li class="list-group-item text-muted">No hay entrenadores registrados.</li>
    {% endfor %}
  </ul>
{% endblock %}
